---
---
<!DOCTYPE html>
<html {% if site.html.dir %}dir="{{ site.html.dir }}"{% endif %}
      {% if site.html.lang %}lang="{{ site.html.lang }}"{% endif %}
      prefix="og: http://ogp.me/ns#"
>
  <head profile="http://gmpg.org/xfn/11">
    <meta charset="{{ site.encoding }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title>{{ site.data.resume.basics.name }} | Résumé</title>

    {% comment %}<!-- Fonts and CSS --> {% endcomment %}
    {% if site.woff %}
      {% for woff in site.woff %}
        <link rel="preload" href="assets/fonts/{{ woff }}" as="font" type="font/woff2" crossorigin />
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    {% comment %}<!-- Title and URL meta --> {% endcomment %}
    <meta property="og:title" content="{{ site.data.resume.basics.name }} | Résumé" />
    <link rel="canonical" href="{{ site.url }}{{ site.subpath }}{{ page.url }}" />
    <meta property="og:url" content="{{ site.url }}{{ site.subpath }}{{ page.url }}" />
    {% if page.previous %}<link rel="prev" href="{{ page.previous.url | relative_url }}" />{% endif %}
    {% if page.next %}<link rel="next" href="{{ page.next.url | relative_url }}" />{% endif %}

    {% comment %}<!-- Identification/Specification tags --> {% endcomment %}
    <meta name="author" content="{{ site.data.resume.basics.name }}" />
    <meta property="og:site_name" content="{{ site.data.resume.basics.name }} | Résumé" />
    {% if site.twitter.creator %}<meta name="twitter:creator" content="{{ site.twitter.creator }}" />{% endif %}
    {% if site.twitter.site %}<meta name="twitter:site" content="{{ site.twitter.site }}" />{% endif %}
    {% if site.open_graph.fb_app_id %}<meta property="fb:app_id" content="{{ site.open_graph.fb_app_id }}" />{% endif %}
    {% if site.twitter.card %}<meta name="twitter:card" content="{{ site.twitter.card }}" />{% endif %}
    {% if site.open_graph.og_type %}<meta property="og:type" content="{{ site.open_graph.og_type }}" />{% endif %}

    {% comment %}<!-- Geo/contact tags --> {% endcomment %}
    {% if site.html.locale %}<meta property="og:locale" content="{{ site.html.locale }}" />{% endif %}
    <meta property="og:street_address" content="{{ site.data.resume.basics.location.address }}" />
    <meta property="og:locality" content="{{ site.data.resume.basics.location.city }}" />
    <meta property="og:region" content="{{ site.data.resume.basics.location.region }}" />
    <meta property="og:postal_code" content="{{ site.data.resume.basics.location.postalCode }}" />
    <meta property="og:country_name" content="{{ site.data.resume.basics.location.countryCode }}" />
    <meta property="og:email" content="{{ site.data.resume.basics.email }}" />
    <meta property="og:phone_number" content="{{ site.data.resume.basics.phone }}" />

    {% comment %}<!-- Image (social share) tags --> {% endcomment %}
    {% if site.meta.image.src %}
      <meta property="og:image" content="{{ site.url }}{{ site.subpath }}/assets/images/{{ site.meta.image.src }}" />
      <link rel="image_src" href="{{ site.url }}{{ site.subpath }}/assets/images/{{ site.meta.image.src }}" />
      <meta name="og:image:alt" content="{{ site.meta.image.alt }}" />
      <meta name="twitter:image:alt" content="{{ site.meta.image.alt }}" />
    {% endif %}

    {% comment %}<!-- Description/brief/abstract tags --> {% endcomment %}
    <meta name="description" content="{{ site.data.resume.basics.summary }}" />
    <meta property="og:description" content="{{ site.data.resume.basics.summary }}" />

    {% comment %}<!-- PWA and browser-specific tweaks. -->{% endcomment %}
    <meta name="apple-mobile-web-app-title" content="{{ site.data.resume.basics.name | slugify }}" />
    <meta name="Generator" content="{{ site.meta.generator }}" />
    <link rel="alternate" type="application/json" href="assets/data/resume.json" title="JSON resume serialization" />
  </head>

  <body>
    <div id="content" class="h-resume document" itemscope itemtype="http://schema.org/ProfilePage">
      <header itemprop="author editor" itemscope itemtype="http://schema.org/Person" class="p-contact address h-card">
        <ul class="list--inline-flex list-style--none pipe-spaced">
          <li itemprop="telephone" class="p-tel">{{ site.data.resume.basics.phone }}</li>
          <li>
            <a itemprop="email" class="u-email email" href="mailto:{{ site.data.resume.basics.email }}">
              {{ site.data.resume.basics.email }}
            </a>
          </li>
        </ul>

        <ul class="list--inline-flex list-style--none font-size--p75em print--hide">
          {% for profile in site.data.resume.basics.profiles %}
            <li>
              <a class="u-url social-link" rel="me" href="{{ profile.url }}" itemprop="relatedLink">
                {{ profile.network }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <h1>
          <a itemprop="name url" class="p-name fn n u-url" id="resname" href="{{ site.data.resume.basics.website }}" rel="me">
            {{ site.data.resume.basics.name }}
          </a>
        </h1>
      </header>

      <main>
        <section class="vcalendar">
          <h2>Experience</h2>

          <ol class="list-style--none">
            {% assign experience = site.data.resume.work | reverse %}
            {% for job in experience %}
              <li itemscope itemtype="http://schema.org/BusinessEvent" class="p-experience h-event {% if forloop.index >= 4 %}print--hide{% endif %}">
                <div class="display--flex margin-top--1em">
                  <aside class="flex--1">
                    <h3 itemprop="name" class="p-name">{{ job.position }}</h3>

                    <h4 itemprop="location" itemscope itemtype="http://schema.org/Place" class="h-card p-location org fn">
                      <a itemprop="organizer name" href="{{ job.website }}" class="p-name">
                        {{ job.company }}
                      </a>
                      <span class="a11y--visually-hidden">
                      — <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                          <span itemprop="addressLocality">{{ job.location.city }}</span>,
                          <span itemprop="addressRegion">{{ job.location.region }}</span>
                        </span>
                      </span>
                    </h4>
                  </aside>

                  <aside class="datum flex--1 text-align--right color--grey-light font-size--p75em">
                    <time itemprop="startDate" class="dt-start" datetime="{{ job.startDate }}" title="{{ job.startDate }}">
                      {{ job.startDate | date: "%Y-%b" }}
                    </time>
                     to
                    {% if job.endDate %}
                      <time itemprop="endDate" class="dt-end" datetime="{{ job.endDate }}" title="{{ job.endDate }}">
                        {{ job.endDate | date: "%Y-%b" }}
                      </time>
                    {% else %}
                      <span>Present</span>
                    {% endif %}
                  </aside>
                </div>

                <ul itemprop="description" class="p-description summary">
                  {% for highlight in job.highlights %}
                    <li>{{ highlight }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ol>
        </section>

        <section class="vcalendar">
          <h2>Education</h2>

          <ol class="list-style--none">
            {% assign education = site.data.resume.education | reverse %}
            {% for school in education %}
              <li itemscope itemtype="http://schema.org/EducationEvent" class="p-education h-event {% if forloop.index >= 3 %}print--hide{% endif %}">
                <div class="display--flex margin-top--1em">
                  <aside class="flex--1">
                    <h3 itemprop="educationalLevel name" class="p-summary summary">
                      {{ school.studyType }} — {{ school.area }}
                    </h3>

                    <cite itemprop="location" itemscope itemtype="http://schema.org/Place" class="h-card p-name p-location org fn">
                      <span itemprop="name">{{ school.institution }}</span>
                      <span class="a11y--visually-hidden">
                        — <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                          <span itemprop="addressLocality">{{ school.location.city }}</span>,
                          <span itemprop="addressRegion">{{ school.location.region }}</span>
                        </span>
                      </span>
                    </cite>
                  </aside>

                  <aside class="datum flex--1 text-align--right color--grey-light font-size--p75em">
                    <time itemprop="startDate" class="dt-start" datetime="{{ school.startDate }}" title="{{ school.startDate }}">
                      {{ school.startDate | date: "%Y-%b" }}
                    </time>
                     to
                    <time itemprop="endDate" class="dt-end" datetime="{{ school.endDate }}" title="{{ school.endDate }}">
                      {{ school.endDate | date: "%Y-%b" }}
                    </time>
                  </aside>
                </div>

                <div itemprop="description" class="coursework p-description">
                  <h4>Relevant Coursework:</h4>

                  <ul class="comma-spaced">
                    {% for course in school.courses %}
                      <li>{{ course }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endfor %}
          </ol>
        </section>

        <section class="p-summary" id="qualifications">
          <h2>Qualifications</h2>

          <div class="print--hide">
            <h3>Awards</h3>

            <ul>
              {% for award in site.data.resume.awards %}
                <li>{{ award.title }} — <span class="p-affiliation">{{ award.awarder }}</span></li>
              {% endfor %}
            </ul>
          </div>

          <div class="print--hide">
            <h3>Publications</h3>

            <ul>
              {% for pub in site.data.resume.publications %}
                <li>"{{ pub.name }}" — <a class="p-affiliation" href="{{ pub.website }}">{{ pub.publisher }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="">
            <h3>Skills</h3>

            <ul class="quals comma-spaced">
              {% for skill in site.data.resume.skills %}
                <li class="p-skill" title="{{ skill.keywords | join: ", " }}">{{ skill.name }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="print--hide">
            <h3>Languages</h3>

            <ul class="quals">
              {% for language in site.data.resume.languages %}
                <li class="p-skill">{{ language.language }} — {{ language.fluency }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="print--hide">
            <h3>Interests</h3>

            <ul class="comma-spaced">
              {% for interest in site.data.resume.interests %}
                <li>{{ interest.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
