/* hResume-based stylesheet == Created by Brad Czerniak. Released into the public domain on 1/10/2008 */

/* Main elements and wrappers */
body {
	background-color:#bbb;
	font-family:Calibri, Tahoma, Arial, sans-serif;
	font-size:100%;
	font-style:normal;
	font-weight:400;
	font-size:12pt;
	}	
/* Headings */
h1{
	font-size: 22pt;
	letter-spacing: 4pt;
	font-weight:normal;
	margin:0;
	text-transform:uppercase;
	}
h2{
	border-bottom:1px solid #999;
	font-size:10pt;
	font-weight:normal;
	text-transform:lowercase;
	margin-bottom:7px;
	}
h3{
	margin:0 0 0 0;
	font-size:13pt;
	}
h4{
	margin:0;
	}

/* Hyperlinks */
a {
	text-decoration: none;
	color:  #000;
	}

/* Elementals */
abbr{
	border-bottom:0;
	}
ul{
	margin:1px 0 3px 0;
	}
	
/* class-specific styles */
.address{
	text-align:left;
	font-style:normal;
	font-size: 7.5pt;
	letter-spacing: 1pt;
	text-transform:uppercase;
	}
.coursework{
	margin-left:20px;
	padding-left:5px;
	border-left:2px solid #444;
	}
.datum{
	float:right;
	color:#bbb;
}
.email{
	font-weight:bold;
	text-transform:none;
	}
.experience .org{
	font-weight:bold;
	}
.experience .title{
	font-weight:bold;
	font-style:italic;
	}
.profile{
	display:none;
}
#qualifications{
	margin-left:60px;
	}
.vcalendar{
	margin-left:60px;
	}
.vcalendar .url{
	font-weight:bold;
}