---
# Frontmatter note: Liquid tags used for imports.
# Do not add layout: compress to this front-matter, as it will work locally and fail on gh-pages
---

/**
 * Fonts imported early and directly.
 *
 * Only include fonts that are known to be used, since each is an asset to load.
 * font-display: swap; is used to prevent text from being hidden on load.
 * We list src in preference order: local, woff2, then woff
 *
 * @see https://google-webfonts-helper.herokuapp.com/fonts
 */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('../fonts/public_sans/public_sans_variable.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 100 900;
  src: url('../fonts/public_sans/public_sans_variable_italic.woff2') format('woff2');
}

/**
 * The HTML wrapping tag takes some very general styles. Normalize some rendering.
 */
html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/**
 * Tag-level styling.
 */
body {
  background-color: #fff;
  color: #222;
  font-family: 'Public Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1.45;
  margin: 0;
  scroll-behavior: smooth;
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    background-image: none;
    filter: grayscale(100%) invert(100%);
  }
}
@media screen and (min-width: 8.5in) {
  body {
    background-color: #f1f1f1;
  }
}

h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
  margin: .5em 0 0;
}
h1 a {
  color: #f78418;
}
h1 a:visited {
  color: #f78418;
}
h1 a:hover {
  color: #004276;
}

h2 {
  border-bottom: 1px solid #999;
  font-size: .75em;
  font-weight: normal;
  margin: 1em 0;
  text-transform: lowercase;
}

h3 {
  font-size: 1em;
  margin: 1em 0 0;
}

h4 {
  margin: 0;
}

section {
  margin: 1em 0;
}

ol, ul {
  margin: 0;
  padding: 0;
}

.document {
  padding: 20px;
}
@media screen and (min-width: 8.5in) {
  .document {
    background-color: #fff;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 8.5in;
    padding: .5in 1in;
  }
}

.list-style--none {
  list-style: none;
}
